@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway|Staatliches&display=swap}');
* {box-sizing: border-box;margin: 0;padding: 0; font-family: 'Roboto', sans-serif;/*! border: solid; */}
.reveal {position: relative;transform:translateY(150px);opacity: 0;transition:all 0.7s ease;}
.reveal.active {transform:translateY(0);opacity: 1;}
body {
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    background-color: #151515;
   }
   main {
    margin: auto;
   }
   h1, h2, h3, h4, h5, h6 {
    color: black;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: 700;
    font-family: 'Staatliches', cursive;
    transform: scale(1, 1.2);
}
h1 {font-size: 3.5vw;}




h2 {
    
    letter-spacing: 2px;
    font-size: 4em;
    color: slateblue;
   }
   p {
    letter-spacing: 0px;
    font-size: 17px;
    line-height: 1.5;
 }

 main h2::before {content: attr(chapter-number) ;color: white;display: flex;font-size: 30px; line-height: 0.3;}
 
 main section:last-child h2::before {display: none;}

#nav-logo { width: 30px; padding: 0; }
nav {margin-left: 0; height: 100%; width: 0; position: fixed; z-index: 3;background-color: #ffbf26;overflow-x: hidden; transition: 0.7s eaes all; flex-direction: column;display: none; padding: 20px 3%;justify-content: center;align-items: baseline;filter: drop-shadow(0px 5px 5px #000000de);width: 0;display: none;justify-content: center;align-items: center;}
nav ul {list-style: none;display: flex;justify-content: center;align-items: center;flex-direction: column;}
nav a, .close {display: block; font-size: 5em;text-decoration: none;color: #151515;transition: .5s ease;font-family: 'Staatliches', cursive;}
nav a:hover, .close:hover {color:slateblue;text-decoration: none;letter-spacing: 3px;/*! transform: scale(1, 1.2); */text-decoration-thickness: 3px;}
nav .close {position: absolute;
  top: 5%;
  left: 2%;
  margin-left: 50px;
  font-size: 50px;
  transition: all .7s;}
  nav .close:hover {
    transform: rotate(360deg);
  }

body > header {display: flex;justify-content: space-between;z-index: 2;position: absolute;right: 0;left: 0;transition: .5s ease all;padding: 55px 5%;}

header span a i::before {color:#ffbf26;font-size: 25px;}

main header h1 {
    letter-spacing: 0;
    font-weight: 400;
    font-family: 'Staatliches', cursive;
    display: inline-block;
    transform: skew(0deg);
    font-size: 8vw;
    max-width: 1200px;
    line-height: 1;
    color: #FFBF26;
   }
   main header .designContainer > div{font-size: 5vw;font-family: 'Staatliches', cursive;line-height: 1.1;color: #6A5ACD;}

   main header .designContainer h1 {
    background: linear-gradient(144deg, rgba(252,189,43,1) 0%, rgba(106,90,205,1) 58%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }

   main header .yes > h1 { -webkit-text-stroke: 1px #6A5ACD;color: #151515;display: flex;flex-direction: column;line-height: .8;font-size: 8vw;}

header .yes {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0vw;
    align-items: baseline;
    
    margin: 5em 0;
   }


   main header {width: 100%;display: flex;flex-direction: column; height: 100vh;
justify-content: center; align-items: center;
}
body > header:nth-child(1) { /*position: fixed;*/right: 0;left: 0;}
   header .yes > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
   }
  
   
   
   .button-img i {
   color: #151515;
   transition: all .3s;
   }

   .button-img:hover i{
   color: white;
     
   }
   #button-row {}
   .button-1 {
    padding: .9em 2.3em;
    background: #ffbf26;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1d1d;
    inline-size: fit-content;
    transition: .5s ease all;
    
    margin: auto;
    margin-right: 0;
    font-weight: 100;
    letter-spacing: .1px;
}
.button-1:hover { 
    box-shadow: 15px 15px 0px -2px #ffbf26;
    background: #6a5acd;
    color: white;

}
.button-2 {
  padding: 0.8em 2.8em;
  background: transparent;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  inline-size: fit-content;
  transition: .5s ease all;
  margin: auto;
  border: solid 3px #6a5acd;
  font-weight: 100;
}
.button-2:hover { 
  
  background: #6a5acd;
  color: #ffbf26;
}

html .button-img {
   
     
}

.button-work {
    position: absolute;
    top: 0;
    left: 0;
    right:0 ;
    bottom:0;
text-decoration: none;
padding: 7% 9%;
}
   
main > section:nth-of-type(1) {
    grid-column-gap: 7rem;
    grid-row-gap: 7rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: .625rem;
    display: grid;
    
}
#index > section:nth-of-type(1) {
  margin-bottom: clamp(20px,8vw,150px);
}


main > section:nth-of-type(1) article {
   
    
    display: flex;
    flex-direction: column;
    justify-content: end;
/* margin: 4em 0; */}
#aboutMe {order: 2;padding: 2em;align-items: baseline;}
#aboutMe h2 {max-width: 481px; width: 100%;color: #6A5ACD;line-height: 0.9;margin-bottom: .4em;}
h2 span { font-family: 'Staatliches', cursive;-webkit-text-stroke: 1px #6A5ACD;font-weight: 400;color: #151515;}
#aboutMe  p {    max-width: 481px;}
#aboutMe ~ aside {order: 1;padding: 2em;}

main > section:nth-of-type(1) article p {
    -webkit-text-stroke: 0.5px #1a1a1a;
    color: #ffffff;
   }
   main > section:nth-of-type(1) aside {
    display: flex;
    flex-direction: column;
    align-items: end;
   /* margin-right: 2em; */}
   main > section:nth-of-type(1) aside > a {
   margin: 4vh 0 1vh 0;
   }
main > section:nth-of-type(1) aside img {
   margin: 0 0 4vw 0;
   filter: drop-shadow(19px 22px 0px slateblue);
   /*! border: 5px solid #d7d7d7; */
   }
main > section:nth-of-type(1) aside img {max-inline-size: 330px;
  block-size: auto;position: relative;transform: skew(-2deg);}

#section-tools {margin: 9vw 5vw;display: flex;flex-direction: column;padding: 4em 0vh;border: 8px solid #151515;max-width: 1500px;justify-content: center;align-items: center;background: #ffbf26;filter: drop-shadow(-20px 20px 0px slateblue);}#section-tools .icon-list {display: flex;justify-content: center;align-items: center;flex: 1;min-width: 300px;max-width: 350px;margin: 1em 0.5em 1em 0.5em;}
#section-tools .icon-list i {padding: 3vw;font-size: 1.8em;color: #6a5acd;filter: drop-shadow(2px 2px 0px white);}
#section-tools .container { display: flex;justify-content: center;align-items: center;flex-wrap: wrap-reverse;order: inherit;}
#section-tools section {display: flex;height: 50%;flex-direction: row;justify-content: center;flex-wrap: wrap-reverse;}
#section-tools h2 {align-items: center;order: 3;font-family: 'Staatliches', cursive;display: flex;flex: 1;justify-content: center;font-size: 3em;color: #151515;max-width: 400px;min-width: 300px;margin: 1em 0 1em 0;padding: 0;}
#section-tools .personal-list {display: flex;justify-content: space-evenly;align-items: center;order: 2;padding-bottom: 1em;flex: 1;max-width: 400px;width: 100%;min-width: 300px;margin: 1em 0.5em 1em 0.5em;}
#section-tools section:nth-of-type(1) {order: 2;margin: 2em 0;}
#section-tools ul {list-style: japanese-formal inside;max-width: 123px;color: #1a1a1a;font-size: 15px;}

#section-tools section:nth-of-type(2) {flex-wrap: wrap;order: 1;}
#section-tools section:nth-of-type(2) .icon-list {order: 3;}
#section-tools section:nth-of-type(2) h2{order: 1;}
#section-tools section:nth-of-type(2) ul:nth-of-type(2) {text-decoration: line-through 2px #1a1a1a;color: #8e8e8e;}

main > section:nth-of-type(2), #mywork > section {
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  padding: 0 5%;
 
  position: relative;
  max-width: 1920px;
  /*! margin-top: clamp(20px,11vw,160px); */
  margin-bottom: clamp(20px,11vw,160px);
 }
 
   main > section:nth-of-type(2) h2 {padding: 0;font-size: 7em;color: #6A5ACD;}
  

   main > section:nth-of-type(2) ul, #mywork > section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /*! align-items: center; */
    width: 100%;
    position: relative;
}
/*

main section:nth-of-type(2) h2::after {

    font-size: 1em;
    color: transparent;
    font-weight: 400;
    -webkit-text-stroke: 1px #6A5ACD;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    margin-left: 15px;
  }
  
 
  main section:nth-of-type(2) h2::before {
    padding: 0;
    font-size: 1em;
    color: transparent;
    font-weight: 400;
    -webkit-text-stroke: 1px #6A5ACD;
    white-space: nowrap;
    position: absolute;
    margin-left: -3.4em;
    \}: ;
  }
*/  
main > section:nth-of-type(2) li, #mywork > section li {
          
  display: flex;
flex-direction: column;
position: relative;
aspect-ratio: 16/7;
overflow: hidden;
  margin-top: clamp(20px,3vw,50px);
  margin-bottom: clamp(20px,3vw,120px);
 }
   /*main > section:nth-of-type(2) section {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    order: 2;
    padding: 1em;
    justify-content: space-between;
    /*! background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M41.56 140C41.56 70.15 -25.13 35.74 0 0C24.09 -34.26 70 0 140 0C159.6 0 169.59 -14.51 179.2 0C215.92 55.49 211.55 68.36 232.65 140C252.78 208.36 242.4 212.02 261.67 280C266.07 295.53 269.17 307.02 280 307.02C293.44 307.02 306.14 298.73 310.2 280C324.23 215.22 289.15 199.2 316.18 140C344.05 78.98 367.85 89.53 420 39.57C440.92 19.53 436.26 7.37 462.33 0C506.26 -12.42 511.16 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C893.85 0 898.22 -10.91 947.69 0C968.22 4.53 959.83 22.33 980 30.88C1045.98 58.85 1057.94 82.17 1120 73.04C1162.94 66.73 1148.63 21.58 1190 0C1218.63 -14.94 1225 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 172.31 1545.5 173.18 1540 204.62C1533.25 243.18 1515.5 244.49 1515.5 280C1515.5 297.74 1536.73 292.44 1540 311.11C1548.98 362.44 1540 365.56 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C774.88 560 757.49 580.45 709.77 560C687.49 550.45 722.15 503.45 700 500C647.27 491.79 626.94 512.57 560 536.67C543.61 542.57 550 557.22 533.33 560C480 568.89 476.66 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 276.5 -0.99 276.35 0 273C19.79 206.35 41.56 206.65 41.56 140' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 105C539.99 105 527.44 119.68 527.44 140C527.44 175.02 535.63 215.68 560 215.68C593.08 215.68 642.35 170.74 642.35 140C642.35 115.4 597.45 105 560 105' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 125C820.79 125 807.67 121.84 798 140C766.39 199.34 744.55 224.82 757.44 280C765.55 314.69 798.42 319.75 840 319.75C884.42 319.75 926.73 314.26 929.44 280C933.85 224.38 893.81 208.58 854.24 140C849.09 131.08 848.91 125 840 125' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 233.33C1086.67 233.33 1055.83 260.38 1055.83 280C1055.83 297.22 1087.4 307.02 1120 307.02C1160.01 307.02 1201.05 297.59 1201.05 280C1201.05 260.74 1159.28 233.33 1120 233.33' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 403.13C106.52 403.13 70 396.11 70 420C70 468.18 114.91 547.27 140 547.27C162.41 547.27 165 478.47 165 420C165 406.4 154.02 403.13 140 403.13' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 401.33C977.4 401.33 975.33 410.65 975.33 420C975.33 429.98 977.39 440 980 440C982.64 440 985.83 429.97 985.83 420C985.83 410.64 982.65 401.33 980 401.33' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 401.58C1389.26 401.58 1379.1 408.52 1379.1 420C1379.1 441.07 1388.97 466.67 1400 466.67C1411.29 466.67 1423.73 440.68 1423.73 420C1423.73 408.13 1411.58 401.58 1400 401.58' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M96.25 140C113.32 100.91 118.61 66.32 140 66.32C161.07 66.32 166.48 100.74 181.18 140C206.48 207.58 231.55 218.05 220 280C210.96 328.53 181.56 360.96 140 360.96C94.89 360.96 56.6 330.17 46.67 280C34.73 219.69 66.66 207.75 96.25 140' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M355.51 140C363.49 100.8 387.49 77.61 420 77.61C453.1 77.61 468.88 100.41 486.74 140C514.53 201.6 486.63 216.45 511.3 280C523.26 310.8 539.2 301.5 560 328.7C592.72 371.5 618.33 379.64 618.33 420C618.33 447.16 588.01 440.45 560 463.75C503.85 510.45 508.08 520.07 450 560C438.08 568.2 435 560 420 560C371.54 560 369.72 567.46 323.08 560C299.72 556.26 293.08 556.77 280 537.6C245.29 486.77 227.5 473.83 227.5 420C227.5 389.24 252.99 393.4 280 368.42C328.65 323.4 360.58 335.17 378.82 280C398.34 220.96 342.9 202 355.51 140' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 61.25C523.99 43.06 503.02 18.22 503.02 0C503.02 -12.41 531.51 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C866.92 0 893.85 -12.34 893.85 0C893.85 18.91 875.18 44.45 840 62.5C778.25 94.18 769.92 99.78 700 99.47C629.92 99.16 622.48 92.8 560 61.25' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M913.56 140C913.56 106.83 942.62 82.35 980 82.35C1039.06 82.35 1106.45 103.82 1106.45 140C1106.45 181.65 1035.43 238 980 238C938.98 238 913.56 184.65 913.56 140' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1301.03 280C1351.06 218.05 1355.16 155.22 1400 155.22C1440.52 155.22 1471.75 221.9 1471.75 280C1471.75 322.05 1437.42 319.37 1400 355.53C1364.98 389.37 1339.91 378.09 1326.87 420C1308.09 480.32 1358.01 514.67 1336.36 560C1324.58 584.67 1298.18 560 1260 560C1207.5 560 1206.74 564.5 1155 560C1136.74 558.41 1129.97 562.34 1120 547.83C1081.85 492.34 1058.75 477.32 1058.75 420C1058.75 387.62 1084.29 384.64 1120 368.42C1184.91 338.93 1197 359.34 1260 328.57C1287.52 315.13 1281.06 304.73 1301.03 280' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M754.44 420C764.58 379.08 797.93 362.96 840 362.96C879.21 362.96 901.76 379.97 917 420C939.26 478.49 940.07 514.42 915 560C901.57 584.42 877.5 560 840 560C815.58 560 801.95 577.66 791.16 560C759.17 507.66 740.16 477.6 754.44 420' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1483.05 420C1503.54 387.55 1523.09 366.67 1540 366.67C1551.56 366.67 1540 393.34 1540 420C1540 490 1572.6 522.6 1540 560C1511.58 592.6 1430.52 590.9 1417.95 560C1402.05 520.9 1442.51 484.21 1483.05 420' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 504C11.4 504 41.18 542.42 41.18 560C41.18 570.42 8.73 571.86 0 560C-11.86 543.86 -9.19 504 0 504' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M394.83 140C394.83 124.49 407.31 115.65 420 115.65C432.92 115.65 446.05 124.32 446.05 140C446.05 179.57 432.82 226.15 420 226.15C407.21 226.15 394.83 179.74 394.83 140' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 17.5C548.63 16.96 543.72 5.2 543.72 0C543.72 -3.55 551.86 0 560 0C630 0 630 0 700 0C770 0 840 -1.84 840 0C840 1.84 769.96 3 700 7.37C629.96 11.75 626.77 20.65 560 17.5' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M972.88 140C972.88 136.44 975.99 133.82 980 133.82C986.33 133.82 993.55 136.12 993.55 140C993.55 144.46 985.94 150.5 980 150.5C975.6 150.5 972.88 144.78 972.88 140' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M95.28 280C95.28 228.03 119.05 165 140 165C160.58 165 178.33 226.96 178.33 280C178.33 303.86 159.91 318.8 140 318.8C118.39 318.8 95.28 304.93 95.28 280' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1361.38 280C1361.38 258.06 1382.5 231.3 1400 231.3C1415.81 231.3 1428 257.32 1428 280C1428 296.41 1415.18 309.47 1400 309.47C1381.87 309.47 1361.38 297.15 1361.38 280' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M819.26 420C819.26 409.53 829.8 406.17 840 406.17C849.51 406.17 858.67 409.98 858.67 420C858.67 448.01 849.81 482.22 840 482.22C830.1 482.22 819.26 447.55 819.26 420' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1170.91 420C1170.91 405.99 1219.21 400 1260 400C1271.07 400 1274.63 409.04 1274.63 420C1274.63 437.88 1275.29 457.69 1260 457.69C1223.43 457.69 1170.91 434.84 1170.91 420' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1507.69 560C1507.69 509.54 1531.79 434 1540 434C1547.95 434 1552.86 509.86 1540 560C1536.7 572.86 1507.69 572.54 1507.69 560' stroke='rgba(106%2c 90%2c 205%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); 
    background-size: cover;
    transform: skew(-3deg);
   }*/
   
   main > section:nth-of-type(2) li figure, #mywork > section li figure {/*! width: 100%; */}
   main > section:nth-of-type(2) li figure a, #mywork > section li figure a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
   }
   main:has(section:nth-of-type(2) figure a:hover) section:nth-of-type(2) li figure::after, #mywork:has(section a:hover) section figure::after{
    
    
    
   }
   /*main:has(section:nth-of-type(2) figure a:hover) section:nth-of-type(2) li h3, #mywork:has(section a:hover) section li h3{
    color: white;
   }
   main:has(section:nth-of-type(2) figure a:hover) section:nth-of-type(2) li i, #mywork:has(section a:hover) section li i{
    
   }
   main:has(section:nth-of-type(2) figure a:hover) section:nth-of-type(2) li figure img, #mywork:has(section a:hover) section li figure img{
    
   }*/

   main > section:nth-of-type(2) li:hover h3, #mywork > section li:hover h3{
    color: white;
    transition: .3s all ease;
   }
   main > section:nth-of-type(2) li:hover i, #mywork > section li:hover i{
    color: white;
    transition: .3s all ease;
   }
   main > section:nth-of-type(2) li:hover img, #mywork > section li:hover img{
    transform: scale(1.1);
    transition: .3s all ease-in;
   }
  
   main > section:nth-of-type(2) li figure::after, #mywork > section  li figure::after {
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0) 100%);
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  transition: .3s ease all;
   }
   .tags {
    position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  left: 0;
  padding: clamp(20px,3vw,60px) clamp(40px,3vw,30px) 0 clamp(20px,3vw,60px);
  display: flex;
  justify-content: right;

   }
   main > section:nth-of-type(2) li figure img, #mywork > section li figure img {transition: .3s all ease; transform: scale(1); width: 100%;/*! z-index: 2; */position: relative;}
   main > section:nth-of-type(2) li  > div:last-child, #mywork > section li > div:last-child{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 clamp(20px,3vw,60px) clamp(70px,3vw,30px) clamp(20px,3vw,60px);
    pointer-events: none;
  }
     main > section:nth-of-type(2) li > div h3, #mywork > section li > div h3 {transition: .3s ease all; font-size: 50px;color: #ffbf26; font-weight: 400;}
   main > section:nth-of-type(2) li > div > div {}
   main > section:nth-of-type(2) li > div a {}
   main > section:nth-of-type(2) li > div i, #mywork > section li > div i {font-size: 55px;transform: rotate(-45deg);color: #ffbf26;transition: all .3s;margin-left: auto;}
/*  Experience  */

#experience {
  grid-column-gap: 7rem;
  grid-row-gap: 7rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  padding: .625rem;
  display: grid;
  padding: 0 5%;
  margin-top: clamp(93px,27vw,250px);
  margin-bottom: clamp(93px,27vw,207px);
}

#experience > div > h2 {
line-height: 1;
font-size: 5.5em;
}

 #experience > div > div {
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 1px #6A5ACD;
  font-weight: 400;
  color: #151515;
  font-size: 4.3em;
  line-height: 1;
}
 

 

#experience ul {
   
  }
  
  #experience li:nth-of-type(1) {
margin-top: 0;
  }
  #experience li {
    border-bottom: .1px solid #ffbf26;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    margin-top: 2em;
  }
  #experience li:last-child {
    border: none;
  }
  #experience li * { 
    margin: .2em 0;
  }
  #experience h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    transform: none;
    color: #6e6e6e;
  }
  
#experience p{}
#experience p:nth-of-type(1) {
    color: white;
    font-weight: 100;
  }
  
  #experience p:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 0;
    color: #8c8c8c;
    font-weight: 500;
  }
  

  #contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /*! margin: 9em auto; */
    height: 100vh;
    background: rgb(73,75,238);
    background: radial-gradient(circle, rgba(73,75,238,1) 0%, rgba(106,90,205,1) 100%);
   }

#contact-section {display: flex;flex-direction: row;align-items: center;flex-wrap: wrap;justify-content: center;}
#contact-section h2 {color: #151515;padding-bottom: 0;display: flex;font-size: 5em;}
#contact-section h2 > div:nth-of-type(1) {font-family: 'Staatliches', cursive;-webkit-text-stroke: 1px #FFBF26;font-weight: 400;color: transparent;margin: 0 0.1em;}
#contact-section h2 > div:nth-of-type(2) {font-family: 'Staatliches', cursive;color: #ffbf26;}

footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0vw 3vw 0vw 3vw;
}
footer small {
    color: #151515;
    font-size: 2em;
    font-family: 'Staatliches', cursive;
  }
  
footer p {max-width: 283px;}
footer .footer-container {
  justify-content: space-between;
  margin: .5em 0;
  flex-wrap: wrap;
  display: flex;
 }
 footer .footer-social {
  display: flex;
  flex-direction: row;

 }
  
  footer .footer-container > p {
    font-size: 2em;
    font-family: 'Staatliches', cursive;
    color: #151515;;
  }
  

   footer .footer-social i{
    color: #151515;;
    transition: all .2s;
   }
   footer .footer-social a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin: 0 1.5em;
   }

   footer .footer-social a:hover p{
    color: #151515;
   }
   footer .footer-social a:hover i{
    color: #ffbf26;
    transform: rotate(-45deg);
   }

   footer .footer-social p {
    font-size: 1.3em;
    text-transform: capitalize;
    margin-left: .5em;
    color: #ffbf26;
    font-weight: 500;
    transition: all .2s;

   }
/* detail pages */   

#detail header {
  height: 67vh;
}
#detail h2 { margin-bottom: 10px;
}
#detail header .yes {
    height: 55vh;
    
  }
  #detail   #backButton {
    padding: 0 2vw;
    display: flex;
    margin-bottom: 5vw;
  }
  #detail  #backButton a:nth-of-type(1) {text-decoration: none;-webkit-text-stroke: 0.5px #1a1a1a;color: white;transition: ease .5s;}
#detail   #backButton a:nth-of-type(1)::before {content: "<";padding-right: 5px;}
#detail   #backButton a:nth-of-type(1):hover {color: #ffbf26; letter-spacing: 1px;}



#websiteButton {
    text-transform:uppercase;
    LETTER-SPACING: 0.7PX;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 3px 8px;
    border-radius: 6px;
    background: slateblue;
    margin: 0 2em;
    box-shadow: 0px 0px 5px 0px #00000085;
    cursor: context-menu;
    z-index: 1;
    right: 0;
  }
  #designButton {
    text-transform:uppercase;
    /*! LETTER-SPACING: 0.7PX; */
    font-weight: 500;
    text-decoration: none;
    color: #1a1a1a;
    padding: 3px 8px;
    border-radius: 6px;
    background:#ffbf26;
    margin: 0 2em;
    box-shadow: 0px 0px 5px 0px #00000085;
    cursor: context-menu;
    z-index: 1;
    right: 0;
    font-weight: 100;
  }
  #applicationButton {
    text-transform:uppercase;
    font-weight: 100;
    text-decoration: none;
    color: #1a1a1a;
    padding: 9px 19px;
    border-radius: 6px;
    background: greenyellow;
    margin: 0 2em;
    cursor: context-menu;
    z-index: 1;
    right: 0;
    font-size: 13px;
  }
  
  #backButton > a:nth-of-type(1) {}
  #backButton > a:nth-of-type(2) {}
  #backButton > p:nth-of-type(1) {
    margin-right: 2em;
    color: white;
  }
  #backButton > p:nth-of-type(2) {
    color: white;
    font-weight: 100;
  }
  
  #detail > section:nth-of-type(1) {padding: 0 10vw;display: flex; flex-direction: column;
    grid-row-gap: 0;}
  #detail > section:nth-of-type(1) > div:nth-of-type(2) {
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
    #detail > section:nth-of-type(1) article {display: flex;flex-direction: column;justify-content: left;align-items: baseline;width: 100%;max-width: 1300px;}
  #detail > section:nth-of-type(1) article a {
    margin: 0;
    margin-top: clamp(20px,3vw,50px);
    margin-bottom: clamp(20px,3vw,120px);
  }
    #detail > section:nth-of-type(1) div article:first-child{}
  #detail > section:nth-of-type(1) div article:last-child{}
  #detail > section:nth-of-type(1) article h2 {}
  #detail > section:nth-of-type(1) article div {display: flex;justify-content: space-between;width: 100%;flex-wrap: wrap;}
  #detail > section:nth-of-type(1) article div p {max-width: 600px;}
  #detail > section:nth-of-type(1) article div p:first-child{flex: 1 1 45%;}
  #detail > section:nth-of-type(1) article div p:last-child{flex: 1 1 45%;}

  #detail > section:nth-of-type(1) > div img {
    transition: .3s all ease;
  transform: scale(1);
  width: 100%;
 
  position: relative;
  }
  #detail > section:nth-of-type(1) > div > div {max-width: 1300px; position: relative;
    aspect-ratio: 16/7;
    overflow: hidden;
    margin-top: clamp(20px,3vw,50px);
    margin-bottom: clamp(100px,3vw,120px);}
  

  #detail > section:nth-of-type(2) {}
  #detail > section:nth-of-type(2) h2 {font-size: 5em;}
  #detail > section:nth-of-type(2) > div {  width:100%;/* demo*/
    margin:auto;/* demo*/
    display:flex;
    flex-wrap:wrap; 
justify-content: space-evenly;
column-gap: 2vw;
}
    #detail > section:nth-of-type(2) div > div {flex: 1;}
  
  #detail > section:nth-of-type(2) div > div:first-child {}
  #detail > section:nth-of-type(2) div > div:last-child {}
  #detail > section:nth-of-type(2) img{
    width: 100%;
  min-width: 200px;
  }
  #detail #contact-section a {}








/*#detail  > section {flex-wrap: wrap-reverse;    align-items: flex-end;margin-bottom: 1vh;padding: 4vw 0;}
#detail  > section aside {flex: 1 0 50%;max-height: 75vh;overflow: hidden;padding: 0 2vw;}
#detail  > section figure { border-radius: 4px; display: flex;flex-direction: column;margin: 1.2em 0;}
#detail  > section aside img {    max-width: 405px;border-radius: 4px;width: auto;height: auto;transform: none;filter: none;max-height: 170vh;margin: 0;}
#detail  > section aside img:nth-of-type(2) {margin-top: 2em;}
#detail  > section article { align-items: baseline; justify-content: center;width: 497px;}
#detail  > section article h2 { padding: 0;font-size: 2.5em;color: #ffbf26;}
#detail  > section article h2:nth-of-type(1)::before {content: "01";}
#detail  > section article h2:nth-of-type(2)::before {content: "02";}
#detail  > section article h2:nth-of-type(3)::before {content: "03";}

#detail  > section article p { margin-bottom: 3em;}
#detail  > section article a { }

#detail section:nth-of-type(2) {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}
#detail > section:nth-child(4) > h2:nth-child(1) {
  margin: 0 0 .5em 0;
  margin-right: auto;
}
#detail > section:nth-child(4) > h2:nth-child(1)::before {
    content: "04";
  }
  

  
#detail section:nth-of-type(2) div:nth-of-type(1) {
   
}
#detail section:nth-of-type(2) div:nth-of-type(1) figure {
    
}
#detail section:nth-of-type(2) div:nth-of-type(2) {
    
}

#detail .seemore-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#detail .seemore-section h2 {
    color: white;
}
*/

   /* contact */

   #contact header .yes {
    height: 45vh;
    
  }
   form { 
    display: flex;
 flex-direction: column;
    margin: auto;
    align-items: center;
    margin: 0 auto 20vh auto;
}
form label input {
    background: #fff0;
    border: none;
    border: solid 2px #FFBF26;
    -webkit-text-stroke: transparent;
    transition: .1s ease;
    height: 44px;
    padding: 0 0 0 1em;
    margin-top: 10px;
    box-shadow: 5px 5px 0px 0px #6A5ACD;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    width: 90vw;
  }
  form label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    -webkit-text-stroke: white 1.5px;
    color: white;
    padding: 1.5em 0;
    text-align: left;
  }
  form input, textarea {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    max-width: 530px;
    border-color: #ffbf26;
    box-shadow: 5px 5px 0px 0px #6A5ACD;
    padding: 2%;
    width: 90vw;
  }
  form label:last-of-type {margin-bottom: 5vh;}

  /* my work */
  /*#mywork { max-width: 1500px;}*/
#mywork header {
    height: 65vh;
}
#mywork header {
    height: 74vh;
}
#mywork header .yes h1:nth-of-type(1), #detail header .yes h1:nth-of-type(1)  {
    order: 0;
    -webkit-text-stroke: 0px #6A5ACD;
    background: linear-gradient(144deg, rgba(252,189,43,1) 0%, rgba(106,90,205,1) 58%);
    
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#mywork header .yes h1:nth-of-type(1)::before{
  content: "MY WORK";
  -webkit-text-stroke: 1px #6A5ACD;
  -webkit-text-fill-color: #151515;
}
#mywork header .yes h1:nth-of-type(1)::after {
  content: "MY WORK";
  -webkit-text-stroke: 1px #FFBF26;
  -webkit-text-fill-color: #151515;
}
#detail header .yes h1:nth-of-type(1)::BEFORE {
  content: attr(data-before);
  -webkit-text-stroke: 1px #6A5ACD;
  -webkit-text-fill-color: #151515;
}
 #detail header .yes h1:nth-of-type(1)::after {
  content: attr(data-after);
  -webkit-text-stroke: 1px #FFBF26;
  -webkit-text-fill-color: #151515;
}
#mywork header .yes, #detail header .yes {
    height: 65vh;
    align-items: center;
    position: relative;
    width: 100%;
}
#mywork header .yes a, #detail header .yes a{
  position: absolute;
  bottom: 0; 
}

#filterButtons {}
#mywork #filterButtons > ul  {}
#filterButtons > ul > li {}
#filterButtons > ul > li button { border: none;}
#filterButtons > ul > li:nth-of-type(2) {}
#filterButtons > ul > li:nth-of-type(3) {}
#filterButtons > ul > li:nth-of-type(1) {}
#filterButtons > ul > li:nth-of-type(2) {}
#filterButtons > ul > li:nth-of-type(3) {}

#filterButtons > ul > li:nth-of-type(1) button {
    text-transform: uppercase;
    LETTER-SPACING: 0.7PX;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 3px 8px;
    border-radius: 6px;
    background: slateblue;
    margin: 0 2em;
    box-shadow: 0px 0px 5px 0px #00000085;
    cursor: context-menu;
    z-index: 1;
    right: 0;

}
#filterButtons > ul > li:nth-of-type(2) button {
    text-transform: uppercase;
  LETTER-SPACING: 0.7PX;
  font-weight: 500;
  text-decoration: none;
  color: #1a1a1a;
  padding: 3px 8px;
  border-radius: 6px;
  background: #ffbf26;
  margin: 0 2em;
  box-shadow: 0px 0px 5px 0px #00000085;
  cursor: context-menu;
  z-index: 1;
  right: 0;
}
#filterButtons > ul > li:nth-of-type(3) button {
    text-transform: uppercase;
  LETTER-SPACING: 0.7PX;
  font-weight: 500;
  text-decoration: none;
  color: #1a1a1a;
  padding: 3px 8px;
  border-radius: 6px;
  background: white;
  margin: 0 2em;
  box-shadow: 0px 0px 5px 0px #00000085;
  cursor: context-menu;
  z-index: 1;
  right: 0;
}



#mywork > section figure h2 {
    transition: all .3s;
    font-weight: 500;
    color: #1a1a1a;
    font-size: 1.5em;
    
letter-spacing: 0;}
#detail h1 { text-align: center; }

/* Image section, detail pages */

#websiteImageSection {

flex-wrap: wrap;
    align-items: start;
    
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  width: 100%;

}
#websiteImageSection figure {

max-width: 360px;max-height: 590px;overflow: hidden;border-radius: 4px;}
#websiteImageSection img {

width: 100%;}
#websiteImageSection figcaption {

}

/* design image section */


#designImageSection {

    flex-wrap: wrap;
        align-items: start;
        margin-bottom: 14vh;margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    width: 100%;
}
    #designImageSection figure {
    
    max-width: 313px;max-height: 675px;/* overflow: hidden; */border-radius: 4px;}
    #designImageSection img {
        border-radius: 4px;
    width: 100%;}
    #designImageSection figcaption {
    
    }

/* Application image section */
#applicationImageSection {

    flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 14vh;
        padding: 2vw 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    padding: 0 12vw;
    margin: unset;
    margin-top: clamp(20px,8vw,120px);
    margin-bottom: clamp(20px,8vw,150px);
}
    #applicationImageSection figure {
    
    max-width: 850px;overflow: hidden;border-radius: 4px;}
    #applicationImageSection img {
    
    width: 100%;}
    #applicationImageSection figcaption {
    
    }
    #applicationImageSection a {margin: 2em;}


    #additionalInfo {display: flex;justify-content: center; align-items: center;margin: 3em auto 0 auto;}

    #articleWrapper {
    
    
        order: 2;padding: 0 2vw;display: flex;justify-content: center;flex: 1 0 50%;}


@media only screen and (max-width: 900px){
    

  main > section:nth-of-type(1) {
  grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }
  main header .yes > h1 {
    font-size: 8vw;
  }
  
  main > section:nth-of-type(2) li > div h3, #mywork > section li div h3 {
    /* font-size: 50px; */
    font-size: 29px;
    letter-spacing: 0;
  }
  
  main > section:nth-of-type(2) li > div:last-child, #mywork > section li > div:last-child {
    /* padding: 0 clamp(20px,3vw,60px) clamp(40px,3vw,30px) clamp(20px,3vw,60px); */
    padding: 0 clamp(20px,3vw,60px) clamp(5px,3vw,30px) clamp(20px,3vw,60px);
  }
  
  main > section:nth-of-type(2) li > div i, #mywork > section li div i {
    /* font-size: 55px; */
    font-size: 24px;
  }
  
  .tags {
    /* padding: clamp(40px,3vw,30px) clamp(20px,3vw,60px) 0 clamp(20px,3vw,60px); */
    padding: clamp(5px,3vw,30px) clamp(20px,3vw,30px) 0 clamp(20px,3vw,10px);
  }
  
  main > section:nth-of-type(2) li > div a, #mywork > section li div a{
    margin: 0 !important;
  }
  
  #applicationButton {
    /* font-weight: 100; */
    /* padding: 9px 19px; */
    /* font-size: 13px; */
    font-weight: 400;
    padding: 7px 12px;
    font-size: 11px;
  }
  
  main > section:nth-of-type(2) li, #mywork > section li {
    /* aspect-ratio: 16/7; */
    aspect-ratio: 16/9;
  }
  
  main > section:nth-of-type(2) li figure::after, #mywork > section figure::after {
    /* background: linear-gradient(0deg, rgba(0,0,0,0.6) 3%, rgba(0,0,0,0) 100%); */
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 15%, rgba(0,0,0,0) 100%);
  }
  
  main > section:nth-of-type(2) h2, #mywork > section h2 {
    /* font-size: 7em; */
    font-size: 6em;
  }
  
  main > section:nth-of-type(2), #mywork > section {
    /* margin-top: clamp(20px,11vw,160px); */
    /* margin-bottom: clamp(20px,11vw,160px); */
    margin-top: clamp(20px,35vw,95px);
    margin-bottom: clamp(20px,35vw,160px);
  }
  
  #experience {
    /* margin-top: clamp(20px,8vw,120px); */
    /* margin-bottom: clamp(20px,8vw,120px); */
    margin-top: clamp(20px,25vw,120px);
    margin-bottom: clamp(20px,25vw,120px);
  }
  
 
  

  #aboutMe {order: 1; align-items: center;}
  #aboutMe ~ aside {order:2; align-items: center;}

  #experience {
  
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
   
  }
    /* section tools */
    #section-tools {
        max-width: 500px;
        margin: 15vw auto;
    }
    #section-tools .personal-list {
        flex:none;
    }
    #section-tools section:nth-of-type(2) .container {
        flex-wrap: wrap;
    }

    main header .designContainer > div {
      font-size: 5vw;
    }
    #contact-section h2 {

      font-size: 3em;
    }
       
}

@media only screen and (max-width: 600px){

  

  main header .designContainer > div {
    /* font-size: 79px; */
    font-size: 7vw;
  }
  
  main header .yes > h1 {
    /* -webkit-text-stroke: 1px #6A5ACD; */
    -webkit-text-stroke: .5px #6A5ACD;
    font-size: 12vw;
  }
 main header .designContainer h1 { 
    font-size: 12vw;
  }
    /* Index section 1 ( about me ) */
    main > section:nth-of-type(1) aside img {transform: skew(0deg);}
  

    /* Index section 2 ( Tools ) */
    #section-tools {filter: none;border: none;border-radius: 4px; }

    #contact-section h2 {
      /* font-size: 4em; */
      font-size: 12vw;
      flex-direction: column;
      align-items: center;
      line-height: 1;
    }
    
    #contact-section h2 > div:nth-of-type(1) {
      /* -webkit-text-stroke: 1px #6A5ACD; */
      -webkit-text-stroke: .75px #6A5ACD;
    }
    
    footer .footer-social {
      /* padding: .625rem; */
      flex-wrap: wrap;
      justify-content: inherit;
      grid-column-gap: 0rem;
      grid-row-gap: .5rem;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      display: grid;
      order: 1;
      margin-bottom: 2em;
      width: 100%;
    }
    footer .footer-social i {
      display: none;
    }
    
    footer .footer-container > p {
      order: 3;
      display: none;
    }

    main > section:nth-of-type(1) aside img {
      max-inline-size: 74vw;
      }
    
    footer small {
      order: 2;
      display: none;
    }
   
       
}
@media only screen and (max-width: 420px){ 

  #detail > section:nth-of-type(1) article div p:first-child {
    flex: 1 0 100%;
  }
  #detail > section:nth-of-type(1) article:last-child div p:first-child {
    margin-bottom: 2em;
  }
  p, h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 17vw;
   }
  #experience {
    grid-template-columns: 100%;
  }
  #experience > div > h2 {
    font-size: 19vw;
  }
  main > section:nth-of-type(2) h2, #mywork > section h2 {
    font-size: 22vw;
  }
  #experience h3 {
    font-size: 16px;
  }
  main > section:nth-of-type(2) h2, #mywork > section h2 {
    font-size: 22vw;
  }
  main > section:nth-of-type(1) {
    padding: 5%;
    }
    #applicationButton {
      display: none;
    }  
    main > section:nth-of-type(2) li > div h3, #mywork > section li div h3 {
      font-size: 25px;
      letter-spacing: 1px;
    }
    #aboutMe ~ aside {
      align-items: baseline;
    }
    #aboutMe {
      padding: 0;
    }
    
    #aboutMe h2 {
      font-size: 15vw;
    }
    #contact-section h2 {
      font-size: 13vw;
    }
    #contact-section h2 > div:nth-of-type(1) {
      -webkit-text-stroke: 1px #6A5ACD;
    }
    main > section:nth-of-type(1) aside img {
      max-inline-size: 90vw;
      }
    main header .yes > h1 {
        font-size: 14vw;
      }
    main header .designContainer > div {
        font-size: 9vw;
      }
      main header .designContainer h1 { 
        font-size: 14vw;
      }
      #aboutMe ~ aside {
        padding: 0;
      }
      main > section:nth-of-type(1) aside img {
        filter: none;
        }
      

    
}
